<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDba4ZNoqYPr1y4t2mn1yjpu1irHRTDF08</string>
	<key>GCM_SENDER_ID</key>
	<string>350379227143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apiTask</string>
	<key>PROJECT_ID</key>
	<string>app-tasks-server</string>
	<key>STORAGE_BUCKET</key>
	<string>app-tasks-server.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350379227143:ios:6ab94f102576682e6552a2</string>
</dict>
</plist>